*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background: #93ff98 url('img/mic.png') no-repeat left center/cover;
  color: #ffa6ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Times New Roman', Times, serif, Arial, sans-serif;
}

h1,
h3 {
  margin-bottom: 0;
}